@charset "UTF-8";
//colors
$color-bg: #eeeeee;
$color-surface: #ffffff;
$color-on-bg: #000;
$color-on-surface: #000;

//import files
@import "normalize/index.scss";
@import "main/index.scss";
@import "lake/index.scss";
@import "button/index.scss";