body {
  line-height: 1.4;
  margin: 0;
  background: $color-bg;
  color: #454545;
  font-family: Helvetica, sans-serif, arial;
}

html {
  //scrollbars
  ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
  }
  ::-webkit-scrollbar-corner {
    background: none;
  }
  // hide tap highlighting for mobile
  -webkit-tap-highlight-color: transparent;
  // disable user slection
  user-select: none;
}

// normalize buttons
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  background: transparent;
  overflow: hidden;
  border: none;
  white-space: nowrap;
}

//remove firefox inner border and padding
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
