    sidenav {
        display: inline-block;
        background: $color-bg2;
        height: 100vh;
        min-height: 100vh;
        max-height: 100vh;
        width: $base4*4+4px;
    }
    
    @media ($mob:$cr) {
        sidenav {}
    }
